* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif" ;
}

.main_box {
    background-image: url("photo.jpg");
    background-size: cover;
    height: 100vh;
}

.btn_one i {
    color: white;
    font-size: 28px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.sidebar_menu {
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgb(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0);
    transition: all 0.3s linear;
}

.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo a {
    color: white;
    position: absolute;
    left: 50px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.sidebar_menu .btn_two i {
    color: gray;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    left: 260px;
    line-height: 60px;
    opacity: 0;
    transition: all 0.2s linear;
}

.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    top: 80px;
}

.sidebar_menu .menu li {
    list-style-type: none;
    margin-top: 6px;
    padding: 10px 25px;
}

.sidebar_menu .menu li i,a {
    color: rgba(255, 255, 255, 0.911);
    text-decoration: none;
    padding-right: 5px;
    transition: all 0.2s linear;
}

.sidebar_menu .menu li i {
    padding-right: 6px;
}

.sidebar_menu .social_media {
    position: absolute;
    left: 25%;
    bottom: 2%;
    font-size: 18px;
}

.sidebar_menu .social_media i {
    font-size: 19px;
    color: white;
    opacity: 0.5;
    padding: 0 1.5px;
    transition: all 0.2s ease-in;
}

#check {
    display: none;
}


/* Hover-Effect */
.sidebar_menu .menu li:hover {
    box-shadow: 0 0 4px rgb(255, 255, 255, 0.5);
}

.sidebar_menu .menu li a:hover {
    font-size: 16.5px;
}

.sidebar_menu .social_media i:hover {
    transform: scale(1.2);
    opacity: 0.85;
}

.btn_one i:hover {
    transform: scale(1.18);
    color: rgba(217, 222, 227, 0.966);
}

.sidebar_menu .btn_two i:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: rgb(183, 183, 183);
}

#check:checked ~ .sidebar_menu {
    left: 0;
}

#check:checked ~ .btn_one i {
    display: none;
}

.sidebar_menu .logo a {
    left: 25px;
    font-size: 20px;
}


#check:checked ~ .sidebar_menu .btn_two i {
    opacity: 1;
}
